*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --main-color : rgb(148,150,179);
    --main-bg-color: rgb(26,27,37);
}

.tittle{
    color: var(--main-color);
}
header{
    position: fixed;
    width: 100%;
}
.header-container{

    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 40000;
}

body{
    margin:0;
    padding: 0;
    height: 100vh;
  }

.nav-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    backdrop-filter:blur(14px) ;
}
.nav-container ul{
    display: flex;
}
.nav-container ul a{
    display: flex;
    text-decoration: none;
    font-weight: 900;
    color: var(--main-bg-color);
    align-items: center;
    height: 4rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-right: 3px solid #faa6;
}
.nav-container ul a li{
    display: flex;
    align-items: center;
    margin: 10px;
    height: 4rem;
    

}
.nav-container ul a:hover{
    background-color: #6af4;
}

.nav-responsive{
    display: none;
}
.menu-responsive ul{
    display: none;
}

@media screen and (max-width:600px) {
    .nav-container{
        display:none;
    }
    .nav-responsive{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 4rem;
        backdrop-filter:blur(10px);

    }
    .hamburguer-menu{
        font-size: 2rem;
        color: #fff;
        cursor: pointer;
    }
    .menu-responsive{

        height: 60vh;
        width: 100%;
        position:absolute;
        backdrop-filter: blur(3rem);
        top: -70vh;
    }
    
    .menu-responsive ul{
        height: 100%;
        display: flex;
        backdrop-filter: blur(2rem);
        flex-direction: column;
        align-items: flex-start;

    }
    .menu-responsive ul a{
        color: var(--main-color);
        text-decoration: none;
        font-size: 1.5rem;
        border-bottom: 2px solid #444;
        width: 100%;
        margin: 40px 0 20px 0 ;
        padding-bottom: 10px;
        list-style: none;

    }
    .menu-plegable{
        top: 4rem;
        transition: top .4s;
    }

}


.acerca-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 82vh;
    background: url("wp2234604-coding-wallpapers.jpg") center no-repeat;
    background-size: cover

}
.acerca-container .redes-sociales a i{
    color: #fff;
    margin-bottom: 2rem;
}
.acerca-de{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    width: 90%;
    flex-wrap: wrap;
    max-width: 1600px;
}

.info{
    font-size: 18px;
    text-align: center;
    color: #fffe;
    padding: 3rem;
}

.foto img{
    margin-top: 4rem;
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
    background-size: cover;
}

.project-container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: center;
    width: 80vw;
}

.project-tittle{
    cursor: pointer;
    background-color: #6af4;
    font-size: 1.2rem;
    padding: 10px 20px;
    margin: 3rem;
    border-radius: 10px;
    box-shadow: 2px 5px var(--main-bg-color);
}
.project-cards{
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    justify-content: center;
    align-items: center;
}
.card-item{
    width: 200px;
    height: 300px;
    background-color: #6af4;
    margin: 20px;
    border-radius: 10px;
}
.contacto-container{
    display: flex;
    width: 80vw;
    margin: auto;
    justify-content: center;
}
.form-contact{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    justify-content: center;
    align-items: center;
}
.form-contact input{
    margin: 10px;
}

.redes-sociales i {
    font-size: 24px;
    color: #333;
    margin: 20px 10px;
}
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #6af4;
    margin-top: 40px;
}